# Compiled files
*.hi
*.o
*.pyc
*.pyo
*.cmi
*.cmo
*.out

# Vim swp files
*.sw
*.swp

# reason _build dir
*.depends

#
*_log
*_digests

# cool stages
*.cl-ast
*.cl-lex
*.cl-type

# archives
*.gz

# test results file
interp_errors.txt
